body{
	font-size:12px;
	margin: 0;
}

.font1{
color: #3B5888;
}
.font2{
font-size: 15px;
font-weight: bold;
}

.font5{
font-weight: bold;
}

.font6{
font-size: 20px;
font-weight: bold;
font-family: "楷体";
}

a.anavi:link,a.anavi:visited,a.anavi:hover,a.anavi:active {
	color:#C3CDDF;
	text-decoration: none;
}

a:link,a:visited,a:active {
	color:#3B5888;
	text-decoration: none;
}

.button1{
   
   	 background-color:   #ffffff;
   	cursor:hand;
	width:   161px;
	height:   41px;
   	background-image:   url(../images/front/regbtn.gif);
   	background-repeat:   no-repeat;
   	background-position:   center;
   	text-align:   center;
   	border:  none;
 } 
